# What is ML?
Machine Learning or simply ML is the measures taken to achieve AI.

> AI capabilities include adapting to new environment, reasoning ability and prblem solving with available resources. If a machine has all these of these capabilities we call it artificially intelligent. Machine learning is used to achive all of these or a subset of these capabilities. For this purpose we train the machine with relevent data.

A model is just an object generated by a machine lerning algorithm through the training.

We apply a machine learning algorithm on the data.

The more data we have the chances of our model to be more accurate. Data often requires pre processing and tweeks before fed to an algorithm.

In ML we deal with certain types of problems. These include -->
- Classification
- Regression
- Clustering
- Dimensionality reduction

To deal with these scenerios we apply various ML algorithm. Based on these algorithms machine learning can be broadly classified into -->
- Supervised learning
- Unsupervised learning
- Reinforced learning
- Semi-supervised learning

> Up until now we've concentrated on supervised learning and we're only dealing with classification problems.

In [9]:
import pandas as pd
df = pd.read_csv('../predictive_maintenance.csv')
df.head()

,UDI,Product_ID,Type,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Target,Failure_Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [10]:
y = df['Target'].values

X = df[['Product_ID','Type','Air_temperature',
        'Process_temperature','Rotational_speed',
        'Torque','Tool_wear']].values

In [11]:
print(X[:5])

[['M14860' 'M' 298.1 308.6 1551 42.8 0]
 ['L47181' 'L' 298.2 308.7 1408 46.3 3]
 ['L47182' 'L' 298.1 308.5 1498 49.4 5]
 ['L47183' 'L' 298.2 308.6 1433 39.5 7]
 ['L47184' 'L' 298.2 308.7 1408 40.0 9]]